[package]
name = "guitar-tab-generator"
version = "1.1.1"
edition = "2021"
authors = ["Noah Baculi <noahbaculi@gmail.com>"]
description = "Generate fingerstyle guitar tabs based on the difficulty of different finger positions"
readme = "README.md"
repository = "https://github.com/noahbaculi/guitar-tab-generator"
license = "GPL-3.0-only"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = "1.0.71"
average = { version = "0.14.1", features = ["rayon"] }
itertools = "0.11.0"
js-sys = "0.3.64"
memoize = "0.4.0"
ordered-float = "3.7.0"
pathfinding = "4.3.0"
regex = "1.9.1"
serde = { version = "1.0.175", features = ["derive"] }
serde-wasm-bindgen = "0.5.0"
strum = "0.25.0"
strum_macros = "0.25.1"
thiserror = "1.0.43"
wasm-bindgen = "0.2.87"
web-sys = "0.3.64"

[profile.release]
strip = true      # Automatically strip symbols from the binary.
opt-level = "z"   # Optimize for size.
lto = true
codegen-units = 1

[dev-dependencies]
criterion = { version = "0.4", features = ["html_reports"] }

[[bench]]
name = "benchmarks"
harness = false
